/*

COLORS, in lieu of SASS:

dark_blue: #007379;
mid_blue:  #00808D;
neutral:   #E2DFCD;
light_brn: #C16832;
dark_brn:  #9E5527;

*/


body{
  background-color: #007379;
}

.navbar {
  background-color: #E2DFCD;
}

.search-section {
  /* background-color: #E2DFCD;
  border: #C16832 1px dashed; */
  float:left;
  width:30%;
  margin: 0 10px 5px;
}

.search-section button, .search-section select, .search-section input{
  width: 90%;
  margin: 5px auto;
}

#map {
  position: absolute;
  top:0; bottom:0; left: 0; right: 0; width:100%;
  z-index:-100;
}
#map.fixed {
    position: fixed !important;
}

.post-title {
  font-size: 18px;
  font-weight: bold;
}

.post-byline {
  font-size: 12px;
}

.post-body {
  font-size: 14px;
}

.sidebar-post {
  margin: 10px;
}

.sidebar {
  /*Do not set height on this
  one otherwise scrolling will be weird*/
  background-color: #E2DFCD;
  position: absolute;
  padding: 150px 10px 0;
  width: 25%;
  z-index: 100;
  right: 0;
  left: auto;
  box-shadow: -5px 5px 12px #777;
}

.sidebar.active {
  width: 42%;
  max-width: 600px;
}