<!DOCTYPE html>

{% load staticfiles %}

<html>

<head>
  <title>
    {% block title %}MatchMap{% endblock %}
  </title>

{% block css %}
  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>
{% endblock css %}
{% block extracss %}
{% endblock extracss %}

{% block extrajs %}
{# For additional javascript (not that we have any common js right now...#}
{% endblock extrajs %}
</head>


<body>

{% block canvas %}
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">MatchMap</a>
      <div class="nav-collapse collapse">
        {% if not user.is_authenticated %}
        What are you doing here!!?!
        {% else %}
        <a href="{% url "logout" %}" type="submit" class="pull-right btn">Log Out</a>
        {% endif %}
      </div>
    </div>
  </div>
</div> <!-- end navbar -->

<div class="container">
{% block content %}
page content goes here
{% endblock content %}
</div>

{% endblock canvas %}
<!-- javascript -->
  <script src="{% static "js/bootstrap.js" %}"></script>
</body>

</html>
