<form class="navbar-form pull-left">

  <!-- SEARCH VOLUNTEERS -->

  <div class="search-section">
    <div class="brand">World Wise Schools</div>
    <input name="searchquery" id="searchbox" type="text" class="search-query" placeholder="Country, Keyword">
  </div>

  <div id="search-volunteers" class="search-section">

    <button class="btn btn-large btn-primary" type="button">Hide Volunteers</button> 

    <select name="sector" data-placeholder="Sector" class="chzn-select" tabindex="2">
      <option value="" selected="selected">Sector:</option>
      {% for sector in data.sectors %}
        <option value="{{sector.0}}">
          {{sector.1}}
        </option>
      {% endfor %}
    </select>

    <select name="country" data-placeholder="Country" class="chzn-select" tabindex="2">
      <option value="" selected="selected">Country of Service:</option>
      {% for country in data.countries %}
        <option value="{{country.0}}">
          {{country.1}}
        </option>
      {% endfor %}
    </select>

  </div>

  <!-- SEARCH TEACHERS -->

  <div id="search-teachers" class="search-section">

    <button class="btn btn-large" type="button">Show Teachers</button>

    <select name="gradelevel" data-placeholder="Grade Level" class="chzn-select" tabindex="2">
      <option value="" selected="selected">Grade Level:</option>
      {% for grade in data.grades %}
        <option value="{{grade.0}}">
          {{grade.1}}
        </option>
      {% endfor %}
    </select>

    <select name="homestate" data-placeholder="Home State" class="chzn-select" tabindex="2">
      <option value="" selected="selected">Home State:</option>
      {% for state in data.states %}
        <option value="{{state.0}}">
          {{state.1}}
        </option>
      {% endfor %}
    </select>

  </div>
  <div class="search-section">
    <button id="clear_button" class="btn btn-large" type="button">Clear Search</button>
  </div>

</form>