{% extends 'pcv_tools/base.html' %}

{% block extrajs %}
{{ block.super }}
<script>
  $(document).ready(function (){$('#id_tags').select2();});
</script>
{% endblock %}

{% block content %}

{% if not form.instance.pk %}
<h3>Create a new entry</h3>
<form action="{% url "entry_create" %}" method="post" enctype="multipart/form-data">
{% else %}
<h3>Edit entry</h3>
<form action="{% url "entry_update" form.instance.pk %}" method="post" enctype="multipart/form-data">
{% endif %}
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Save Entry" /></p>
</form>

{% endblock %}
