{% extends 'base.html' %}


{% block content %}

<h1>Blog Entries</h1>
<hr />

{% for entry in entry_list %}
<div class="blog-entry">
  <h3>
    <a href="{{ entry.permalink }}">{{ entry.title }}</a>
  </h3>
  <small>Posted by
    <a href="{{ entry.author.pcvprofile.blog_url }}">{{ entry.author }}</a>
    on {{ entry.post_time | date:"F j, Y" }}
  </small>
  <p><pre class="blog-body">{{ entry.body }}</pre></p>
</div>
<hr />
{% endfor %}


{% if is_paginated %}
  <div class="pagination">
    <span class="page-links">
      {% if page_obj.has_previous %}
      <a href="{% url "entry_list" %}?page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
      <span class="page-current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
      <a href="{% url "entry_list" %}?page={{ page_obj.next_page_number }}">next</a>
      {% endif %}
    </span>
  </div>
{% endif %}

{% endblock %}
